.sign-up-box {
  display: flex;
  margin: auto;
  width: 475px;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 20px;
}

.sign-up-box span {
  color: #3e467d;
  text-align: left;
  font-size: 14px;
  margin: 0;
}
.sign-up-box-title {
  color: #2269fa;
  font-size: 25px;
  margin-bottom: 38px;
}

.sign-up-box-email__input {
  width: 70%;
}

.sign-up-box-password__input {
  width: 70%;
  margin-bottom: 12px;
}

.sign-up-box-password-confirm__input {
  width: 70%;
  margin-bottom: 63px;
}

.sign-up-box-name__input {
  width: 70%;
  margin-bottom: 12px;
}

.sign-up-box-cardinal__select {
  width: 71%;
  height: 50px;
  margin-bottom: 45px;
}

.sign-up-box--agree__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.sign-up-box-pin-code__input {
  width: 70%;
  margin-bottom: 12px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  height: 50px;
}

.sign-up__button {
  padding: 0;
  display: block;
  background-color: #2269fa;
  color: white;
  border: none;
  width: 70%;
  height: 45px;
  border-radius: 40px;
  margin-bottom: 51px;
  cursor: pointer;
}
