.sign-up-box{
    display: flex;
    margin: auto;
    width: 30%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

.sign-up-box span{
    color: #3e467d;
    text-align: left;
    font-size: 14px;
    margin: 0;

}
.sign-up-box-title{
    color:#2269fa;
    
}