.login-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 26px;
    text-align: center;
    width: 85px;
    margin: 0;
    color : white;
    background-color: #ff9100;
    border: 1px #ff9100 solid;
    border-radius: 17px;
}

.login-button:hover{
    transition: all ease-out 0.5s;
    background-color: rgb(196, 116, 24);
    border: 1px rgb(196, 116, 24) solid;
}