.new-password {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  height: 92vh;
}

.new-password-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 475px;
}

.new-password-box p {
  color: #949494;
  font-size: 0.8em;
  font-family: 'Noto Sans KR';
  margin: 0;
  padding-bottom: 20px;
}

.new-password-box span {
  color: red;
}
.new-password__title {
  position: relative;
  width: 228px;
  font-size: 23px;
  top: -27px;
  padding: 10px;
  background-color: #2269fa;
  color: white;
  border-radius: 15px;
}

.new-password__input {
  background-color: #f1f1f1;
  width: 70%;
  margin-bottom: 22px;
}

.new-password__input--confirm {
  background-color: #f1f1f1;
  width: 70%;
  margin-bottom: 32px;
}

.new-password__button--submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #2269fa;
  color: white;
  width: 70%;
  height: 56px;
  border-radius: 40px;
  margin-bottom: 65px;
  cursor: pointer;
}
