.post-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.post-info-author {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #7f7f7f;
    font-size: 15px;
}

.post-info-author img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    margin-right: 10px;
}
