.select-box {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    margin-right: 15px;
    top: 10px;
}

.select-box-eidt__button,
.select-box-delete__button {
    width: 140px;
    padding: 10px;
    border: solid 1px #bbb;
    font-size: 13px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-box-eidt__button {
    color: #7f7f7f;
}

.select-box-delete__button {
    margin-top: -1px;
    color: #f00;
}