@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.my-posts{
    margin-left: 2vw;
}
.my-posts h3{
    color: white;
    margin: 0 0 2vh 0;
}

.my-posts__container{
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    width: 75vw;
    height: 31vh;
}

.my-posts-group__container{
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    width: 75vw;
    height: 31vh;
}

.my-posts-nav__button{
    appearance: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

.nav__button--active{
    font-weight: bold;
    border-bottom: 7px solid #2269fb;
    animation-name: fadeIn;
    animation-duration: 1s;
}

