.profile h2{
    color: white;
}

.profile h3{
    color: white;
}

.profile__container{
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
}

.profile-content__container{
    display: flex;
}

.profile-stat__container{
    background-color: white;
    display: flex;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
}