.profile{
    margin-left: 3%;
}

.profile h3{
    margin: 0 0 2vh 0;
    color: white;
}

.profile__container{
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    width: 16vw;
    text-align: center;
    margin-bottom: 2vh;
}

.profile-content__container{
    display: flex;
    margin: 3vh 0;
    justify-content: center;
}

.profile-edit__button{
    appearance: none;
    background-color: #2269fb;
    color: white;
    border: none;
    border-radius: 28px;
    width: 14vw;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 3vh;

}
.profile-stat__container{
    background-color: white;
    display: flex;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    justify-content: space-around;
    text-align: center;
}



