.success-find-id{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.success-find-id .check-circle{
    width: 42px;
}

.success-find-id .user-name{
    color: #2269fa;
}

.success-find-id .name-container{
    font-weight: 500;
}

.success-find-id .email-container{
    width: 100%;
    padding: 10px 0;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.success-find-id p{
    font-size:14px;
    color: #444444;
}

.sfi-btn-container{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
}

.find-password-link-btn{
    width: 45%;
    color: white;
    background-color: #2167f6;
    border: none;
    border-radius: 5px;
    opacity: 0.4;
}

.login-link-btn{
    width: 45%;
    color: white;
    background-color: #2167f6;
    border: none;
    border-radius: 5px;
}