.post-box {
    display: flex;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    align-items: center;
    height: 200px;
}

.post-box__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #4e4e4e;
}

.post-box-info {
    flex: 7;
    padding: 30px 40px;
}

.post-box-info-top {
    display: flex;
    align-items: center;
}

.post-box-info__title {
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.post-box-info-middle {
    width: 90%;
    margin: 10px 0px;
    color: #163235;
    height: 60px;
}

.post-box-info__content {
    font-size: 14px;
    line-height: 1.6;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-box-info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-box-info-details{
    display: flex;
}

.post-box-info-author {
    display: flex;
    align-items: center;
}

.post-box-info-author__img{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    margin-left: 10px;
}
