.find-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #f2f2f2;
  align-items: center;
  height: 94vh;
}

.find-password__title {
  font-size: 23px;
  position: relative;
  top: -22px;
  padding: 10px;
  background-color: #2269fa;
  color: white;
  border-radius: 15px;
}

.find-password h4 {
  font-family: 'Noto Sans KR';
  color: #444444;
  margin: 0;
}

.find-password p {
  font-family: 'Noto Sans KR';
  color: #949494;
  margin: 0;
}

.find-password span {
  color: #949494;
}

.find-password-box {
  display: flex;
  width: 435px;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 20px;
}

.find-password-name__input {
  width: 70%;
  margin: 20px 0;
}

.find-password-cardinal {
  height: 56px;
  width: 70%;
  margin-bottom: 30px;
}

.find-password__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 70%;
  height: 56px;
  border-radius: 40px;

  color: white;
}

.btn__active {
  background-color: #2269fa;
  margin-bottom: 60px;
}

.btn__inactive {
  background-color: #979797;
}

.send-code--after {
  width: 70%;
}
.email-resend__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.email-resend__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #595959;
  background-color: white;
  cursor: pointer;
}

.certification-number__input {
  width: 98%;
  height: 56px;
  margin-bottom: 20px;
}

.cerify__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 98%;
  height: 56px;
  background-color: #2269fa;
  color: white;
  border-radius: 40px;
  margin-bottom: 60px;
}
