.recent-post {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    background-color: #fff;
    margin: 20px;
}

.recent-post__img{
    height: 240px;
    background-color: black;
}

.recent-post-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.recent-post-title{
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: -0.38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin: 5px 0px;
}

.recent-post-desc {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.36px;
    text-align: left;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recent-post-tags {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.36px;
    text-align: left;
    color: #b5b5b5;
}

.recent-post-writer {
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(144, 165, 190, 0.16);
}

.writer-name {
    font-size: 10px;
    margin-right: 5px;
}

.writer-img {
    width: 30px;
    height: 30px;
    border: solid 1px #707070;
    border-radius: 70%;
    background-color: #fff;
}