.manager {
    display: flex;
    flex: 1;
}

.manager__userlist{
    flex: 7;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.managet__userlist__title {
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

 