.manager {
    display: flex;
    flex: 1;
}

.manager-userlist{
    flex: 7;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.manager-userlist h2 {
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

 