.role-select-box {
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.role-select-box__current {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #8f8f8f;
    font-size: 12px;
    color: #7a7a7a;
    background-color: inherit;
    padding: 0px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.role-select-box__img {
    width: 10px;
    height: 7px;
}

.role-select-box__list {
    display: none;
    width: 120px;
    position: absolute;
    top: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #8f8f8f;
    font-size: 12px;
    color: #7a7a7a;
}

.role-select-box__list--open {
    display: block;
}

.role-select-box__item {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 9px;
    cursor: pointer;
}