.setting-box {
    z-index: 200;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 35px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f2f2f2;
    background-color: #fff;
}

.setting-box-show__button,
.setting-box-edit__button {
    width: 110px;
    border: none;
    background-color: inherit;
    font-size: 12px;
    color: #707070;
    text-align: start;
}

.setting-box-show__button {
    border-bottom: solid 1px #f5f5f5;
    padding-bottom: 5px;
}

.setting-box-edit__button {
    padding-top: 5px;
}