.sidebar {
    flex: 2;
    background-color: #f2f2f2;
    padding: 40px 0px;
}

.sidebar__box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar__box__title {
    margin: 30px auto 0px auto;
    color: #000;
    opacity: 0.5;
}

.sidebar__box__nav {
    padding: 0px;
}