.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 17px 20px;
    margin-top: 15px;
}

.sidebar-item span:first-child {
    font-size: 15px;
    font-weight: 500;
}

.sidebar-item span:last-child {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    opacity: 0.5;
}

.sidebar-item-right img {
    width: 14px;
    margin-right: 3px;
}

.sidebar-item-right {
    display: flex;
    align-items: center;
}

.selected {
    background-color: #2269fa;
}

.selected span {
    color: #fff;
}
