.user-search {
    display: flex;
    align-items: center;
    height: 47px;
    background-color: #fff;
    border-radius: 15px;
}

.user-search__input {
    border: none;
    font-size: 14px;
    width: 130px;
}

.user-search__input:focus {
    outline: none;
}

.user-search__img {
    margin: 0px 20px;
}