.userlist {
    width: 90%;
    margin: 30px auto 30px auto;
}

.userlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userlist__title{
    font-size: 20px;
}

.userlist-edit {
    display: flex;
    align-items: center;
}

.userlist-edit__button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #2269fa;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.userlist-text {
    font-size: 14px;
    font-weight: normal;
    color: #8f8f8f;
}

.userlist-text--blue {
    font-weight: bold;
    color: #2269fa;
}

.userlist-setting-btn {
    border: none;
    background-color: inherit;
}

.userlist-setting-btn__img {
    margin-top: 6px;
    width: 14px;
}

.userlist-setting-box {
    display: none;
}

.userlist-setting-btn:hover + .userlist-setting-box {
    display:block;
}

.userlist-setting-box:hover {
    display: block;
}

