.recent {
    display: flex;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    align-items: center;
    height: 200px;
}

.recent__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #4e4e4e;
}

.recent-info {
    flex: 7;
    padding: 30px 40px;
}

.recent-info-top {
    display: flex;
    align-items: center;
}

.recent-info__title {
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.recent-info-middle {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 1.6;
    color: #163235;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.recent-info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent-info-bottom-left{
    display: flex;
}

.recent-info-bottom-right {
    display: flex;
    align-items: center;
}

.recent-info-bottom-right__img{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    margin-left: 10px;
}
