.tech__posts{
    width: 80%;
    margin: 70px auto;
}

.tech-official-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tech__title {
    font-size: 18px;
    font-weight: bold;
}

.tech-write_button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #2269fb;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 15px;
}

.tech-write__img {
    height: 12px;
    margin-right: 8px;
}

.tech-recent {
    margin-top: 70px;
}