.login-link__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    margin-bottom: 30px;
}

.login-link__content a{
    height: 100%;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    color: #000000;
}

.login-link__content div{
    height: 100%;
}
