.login-box{
    display: flex;
    width: 435px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}


.login-box__title{
    color:#2269fa;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;

}

.login-box-id__input{
    width: 10px;
}