.header{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #bebebe;
}

.header-nav-button-box{

list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-right-box{
}
