.header{
    display : flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav-button-box{
    display: flex;
}

.header-right-box{
    margin: 0;
    padding-right: 30px;
}
